p{
  margin-top: 0;
  margin-bottom: 0;
}

body{
  font-family: Roboto, arial;
  background-color: rgb(253, 250, 250);
  margin: 0;
  padding-top: 80px;
  padding-left: 90px;
  padding-right: 24px;
  padding-bottom: 28px;
}